<h2 mat-dialog-title>{{objData.title}}</h2>

<mat-dialog-content class="course-dialog-container" [formGroup]="form">

  <mat-form-field>
    <input matInput
           placeholder="Course Description" required
           formControlName="description">

  </mat-form-field>
  <div class="error" *ngIf="form.controls['description'].errors && form.controls['description'].errors['minlength']">
    Course Description must be at least 4 characters long.
  </div>
  <br/>
    <mat-radio-group class="complexity-radio-group" formControlName="complexity" layout="column" required>
      <mat-radio-button value="1" class="complexity-radio-button" ><span class="margin-right:20px">Easy</span></mat-radio-button>

      <mat-radio-button value="2" class="complexity-radio-button">Hard</mat-radio-button>
    </mat-radio-group>


  <br/>

  <mat-form-field>

    <mat-select  placeholder="Select category" required
                formControlName="category">
      <mat-option value="">
        --SELECT--
      </mat-option>
      <mat-option value="BEGINNER">
        Beginner
      </mat-option>
      <mat-option value="INTERMEDIATE">
        Intermediate
      </mat-option>
      <mat-option value="ADVANCED">
        Advanced
      </mat-option>

    </mat-select>

  </mat-form-field>

  <br/>
  <mat-form-field class="example-full-width">
    <input matInput [matDatepicker]="picker" placeholder="Choose a start date"  formControlName="startDate" required>
    <mat-datepicker-toggle matSuffix [for]="picker">
      <mat-icon   matDatepickerToggleIcon>play_for_work</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>


</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-raised-button mat-primary color="primary" (click)="save()">Save</button>
</mat-dialog-actions>
